*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #233E8B;
    font-family: 'Patrick Hand', cursive;
}

p{
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
}

.cont{
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
 /*   border: 1px solid red;*/
    flex-direction: column;
    align-items: center;
    
}


.contenedor-tiempo{
    color: #fff;
    position: absolute;
    margin-top: 60px;
    font-size: 18px;
   /* border: 1px solid red;*/
}

.contenedor-puntaje{
    width:500px;
    height: 40px;
    background: #0a1d4e;
    color: #fff;
    font-size: 25px;
    padding: 10px;
   /* margin-top: 25px;*/
  /*  border: 1px dashed #fff;*/
    
}

.cont .contenedor-juego{
    padding: 0;
    margin: auto;
    width: 500px;
    max-width: 600px;
    height: 600px;
    background-color: #fff;
    border: 10px solid #0a1d4e;
 
}

.botones{
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: inline-block;
    margin: 5px auto;
  /*  margin-left: 55px;    */
 /* border: 1px solid yellow;  */
 
}

.btn-start{
    width: 100%;
 /*   margin-right: 30px;*/
    font-size: 18px;
    padding: 5px;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: red;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
}
/*
.btn-stop{
    width: 40%;
    margin-right: 30px;
    font-size: 18px;
    padding: 5px;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: red;
    border-radius: 4px;
    border: 1px dashed #fff;
    color: #fff;
}
*/

/*-----------------------------------------------------------------------galletita------------------------*/
.player{
    width: 50px;
    height: 50px;
    background-color: #C68B59;
    border-radius: 50%;
    box-shadow: -3px -4px 0 0 rgba(0, 0, 0, .15) inset;
    position: absolute;
    transition: all 0.3s;
    cursor: pointer;
  /*  border: 2px solid green;*/
}

.pepita1{
    width: 9px;
    height: 8px;
    border-radius: 50%;
    background-color: #5f340f;
    position: relative;
    left: 15px;
    top: 4px;
    box-shadow: -1px -2px 0 0 rgba(0, 0, 0, .3) inset;
           
}

.pepita2{
    width: 9px;
    height: 8px;
    border-radius: 50%;
    background-color: #5f340f;
    position: relative;
    left: 17px;
    top: 29px;
    box-shadow: -1px -2px 0 0 rgba(0, 0, 0, .3) inset;
}

.pepita3{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5f340f;
    position: relative;
    left: 33px;
    top: 5px;
    box-shadow: -1px -2px 0 0 rgba(0, 0, 0, .3) inset;
}

.pepita4{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5f340f;
    position: relative;
    left: 5px;
    top: -4px;
    box-shadow: -1px -2px 0 0 rgba(0, 0, 0, .3) inset;
}

.pepita5{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #5f340f;
    position: relative;
    left: 20px;
    top: -8px;
    box-shadow: -1px -2px 0 0 rgba(0, 0, 0, .3) inset;
}

.pepita6{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #5f340f;
    position: relative;
    left: 28px;
    top: -31px;
    box-shadow: -1px -2px 0 0 rgba(0, 0, 0, .3) inset;
}

/*-------------------------------------------------------------------*/
.pinta1{
    color: #946033;
    position: relative;
    left: 5px;
    bottom: 30px;
}

.pinta2{
    color: #946033;
    position: relative;
    left: 34px;
    bottom: 50px;
}
.pinta3{
    color: #946033;
    position: relative;
    left: 28px;
    bottom: 87px;
}

.pinta4{
    color: #946033;
    position: relative;
    left: 28px;
    bottom: 85px;
}

.pinta5{
    color: #946033;
    position: relative;
    left: 8px;
    bottom: 110px;
}

.pinta6{
    color: #946033;
    position: relative;
    left: 10px;
    bottom: 159px;
}

.pinta7{
    color: #946033;
    position: relative;
    left: 20px;
    bottom: 170px;
}

.pinta8{
    color: #946033;
    position: relative;
    left: 20px;
    bottom: 176px;
}

.pinta9{
    color: #946033;
    position: relative;
    left: 16px;
    bottom: 215px;
}